---
import "@/styles/globals.css";
import "@/styles/fonts.css";
import heroImage from "../../public/hero-image.webp";
import logo from "../../public/logo.webp";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: URL | undefined;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

if (Astro.props.ogImage === undefined) {
  Astro.props.ogImage = new URL("home.webp", canonicalURL);
}

const { title, description, ogImage = "/home.webp" } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta name="generator" content={Astro.generator} />
<!-- Cargar todas las fotos del inicio en public primero -->
<link rel="preload" as="image" href={logo.src} />
<link rel="preload" as="image" href={heroImage.src} />

<link rel="canonical" href={canonicalURL} />
<link
  rel="shortcut icon"
  type="image/svg+xml"
  href={`${Astro.site}logo.webp`}
/>

<!-- primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(ogImage, Astro.url)} />
<meta property="og:site_name" content="Zafiro: Pureza que refresca tu vida" />
<meta property="og:locale" content="es_AR" />

<!-- Twitter -->

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:site" content={canonicalURL} />
<meta property="twitter:image" content={new URL(ogImage, Astro.url)} />

<!-- Meta Tags SEO -->

<meta
  name="keywords"
  content="Lules, Tucumán, Argentina, agua mineral, bidones de agua mineral, bidones de 10 litros, bidones de 20 litros, agua pura, agua mineral a domicilio, Zafiro agua mineral, entrega de agua por WhatsApp, agua retornable, agua fresca y pura, San Isidro de Lules, San Miguel de Tucumán, aguas en Tucuman, agua mineral en Lules, agua en bidon en Lules"
/>
<meta name="author" content="Ivan Bongiovanni" />

<link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png" />
<link rel="icon" type="image/svg+xml" href="/logo.webp" />

<!-- sitemap -->
<link rel="sitemap" href="/sitemap-index.xml" />
